<h1>Admins#index</h1>
<p>Find me in app/views/admins/index.html.erb</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
        <th scope="col">Modificar Role</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <%= form_with(model: @user, local: true, html: {class:'form-horizontal'}) do |f| %>
        <td><%= link_to 'Admin', admins_update_role_path(user, 0), class: 'btn btn-sm btn-success' %></td>
        <td><%= link_to 'Analyzer', admins_update_role_path(user, 1), class: 'btn btn-sm btn-dark' %></td>
        <td><%= link_to 'Lawyer', admins_update_role_path(user, 2), class: 'btn btn-sm btn-danger' %></td>
        <td><%= link_to 'Appraiser', admins_update_role_path(user, 3), class: 'btn btn-sm btn-info' %></td>
        <td><%= link_to 'Visit', admins_update_role_path(user, 4), class: 'btn btn-sm btn-primary' %></td>
        <td>

        <% end %>
     </tr>
    <% end %>
  </tbody>
</table>
