<tr>

  <td>
  <%#= realty.street + " " + (realty.number_unit).to_s + " " + realty.unit_estate+ " " + realty.commune.name %>
<%#= "#{realty.street} #{(realty.number_unit).to_s}  #{realty.unit_estate}  #{realty.commune.name}" %>
    <%= realty.address %>
  </td>
  <td> <%= "#{realty.unit_estate}, #{realty.type_property_id}"%></td>


  <td>
    <%= link_to 'Ver', realty %>
    <%= link_to 'Editar', edit_realty_path(realty) %>
    <%= link_to 'Eliminar', realty, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
