

<%= form_with model: @realty do |form| %>
  <h1><%= form.label :name, "Editar Propiedad." %></h1>

  <div>
    <%= @realty.id %>
    <h2><%= @realty.address %>, <%= @realty.unit_estate %></h2>
  </div>

  <p></p>

  <div class="field">
    <%= form.label :street_type_id, "Tipo de Calle" %>
    <%= form.select :street_type_id, options_for_select([["Calle", 0],["Avenida", 1], ["Pasaje", 2], ["Camino", 3]], @realty.street_type_id), {include_blank: "Seleccione"} %>
  </div>

  <div class="field">
    <%= form.label :type_property_id, "Tipo de Propiedad" %>
    <%= form.select :type_property_id, options_for_select([["Casa", 0],["Dpto.", 1],["Local", 2], ["Oficina", 3], ["Bodega", 4], ["Sitio", 5], ["Box", 6], ["Parcela", 7]], @realty.type_property_id), {include_blank: "Seleccione"} %>
  </div>

  <div class="field">
    <%= form.label :street, "Calle" %>
    <%= form.text_field :street, id: :street %>
  </div>

  <div class="field">
    <%= form.label :number_unit, "Numero" %>
    <%= form.number_field :number_unit, id: :number_unit %>
  </div>

  <div class="field">
    <%= form.label :unit_estate, "Unidad" %>
    <%= form.text_field :unit_estate, id: :unit_estate %>
  </div>

  <div class="field">
    <%= form.label :commune_id, "Comuna" %>
    <%= form.select :commune_id, options_for_select(Commune.all.collect {|p| [p.name, p.id]}, @realty.commune_id), { include_blank: "Seleccione"} %>
  </div>

  <div class="field">
    <%= form.label :population_villa, "Poblacion/Villa/Conjunto" %>
    <%= form.text_field :population_villa, id: :population_villa %>
  </div>

  <div class="field">
    <%= form.label :apple, "Manzana" %>
    <%= form.number_field :apple, id: :apple %>
  </div>

  <div class="field">
    <%= form.label :property, "Predio" %>
    <%= form.number_field :property, id: :property %>
  </div>


  <div class="field">
    <%= form.label :mt2_built, "mt2 Construido" %>
    <%= form.number_field :mt2_built, id: :mt2_built %>
  </div>

  <div class="field">
    <%= form.label :mt2_land, "mt2 Terreno" %>
    <%= form.number_field :mt2_land, id: :mt2_land %>
  </div>

  <div class="field">
    <%= form.label :latitude, "Latitud" %>
    <%= form.number_field :latitude, id: :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude, "Longitud" %>
    <%= form.number_field :longitude, id: :longitude %>
  </div>



 <%= form.submit "Ingresar" %>

<% end %>
