


<h1>Ficha Propiedad</h1>

<div>
  <%= @realty.id %>
  <h2><%= @realty.address %>, <%= @realty.unit_estate %></h2>
</div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>

handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      center: new google.maps.LatLng({lat: <%= @realty.latitude %>, lng: <%= @realty.longitude %> }),
      zoom: 16
    },
    internal: {
      id: 'map'
    }
  }, function(){
  markers = handler.addMarkers(<%= raw @hash.to_json %>);
  google.maps.event.addListener(handler.getMap(), "click", function(){
    console.log("hola");

    });
  google.maps.event.addListener(handler.getMap(), 'center_changed', function(){
    var latitude = handler.getMap().getCenter().lat();
    var longitude = handler.getMap().getCenter().lng();
    $.ajax({
      url: '/realties',
      type: 'GET',
      dataType: 'script',
      data: {latitude: latitude, longitude: longitude}
    })
  });
}
);
</script>

    <div>
      <h4> Poblacion, Villa , Conjunto</h4>
      <%= @realty.population_villa %>
    </div>

    <div>
      <h4>Rol Avaluo</h4>
      <%= @realty.appraisal_role %>
    </div>


  <div>
    <h4>Latitud</h4>
      <%= @realty.latitude %>
  </div>
  <p></p>
  <div>
    <h4>Longitud</h4>
      <%= @realty.longitude %>
  </div>


  <div>
    <h4>Construido mt2 </h4>
    <%= @realty.mt2_built %>
    <h4>Terreno mt2 </h4>
    <%= @realty.mt2_land %>
  </div>
