<h1>  Editar Aviso de Remate a Propiedad </h1>

<%= form_with model: @auction  do |form| %>
  <%= form.label :name, "Seleccion de Avisos de Remate" %>

  <div class="field" >
    <%= form.label :date, "Fecha" %>
    <%= form.text_field :date ,id: :date, onchange: "calculo_uf(this)" %>
  </div>

  <div class="field">
    <%= form.label :hour, "Hora" %>
    <%= form.text_field :hour %>
  </div>


  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :name %>
  </div>

  <div class="field">
    <%= form.label :court_id, "Seleccionar Tribunal" %>
    <%= form.select :court_id, options_for_select(Court.all.collect {|p| [p.name, p.id]}, @auction.court_id), { include_blank: "Seleccione"} %>
  </div>

  <div class="field">
    <%= form.label :lyrics, "Letra" %>
    <%= form.text_field :lyrics, id: :lyrics %>
  </div>

  <div class="field">
    <%= form.label :number, "Rol" %>
    <%= form.number_field :number, id: :number %>
  </div>

  <div class="field">
    <%= form.label :year, "Año" %>
    <%= form.number_field :year, id: :year %>
  </div>

  <div class="field">
    <%= form.label :warranty, "Garantia" %>
    <%= form.number_field :warranty, id: :warranty %>
  </div>

  <div class="field">
    <%= form.label :cost, "Costas" %>
    <%= form.number_field :cost, id: :cost %>
  </div>

  <div class="field">
    <%= form.label :is_uf, "Opcion" %>
    <%= form.select :is_uf, [["uf", true], ["pesos", false]], {include_blank: "Seleccione Moneda"}, {onchange: "habilite_money(this)"} %>
  </div>




  <div class="field" id="uf">
    <%= form.label :uf, "UF" %>
    <%= form.number_field :uf, id: :uf, disabled: @auction.uf.nil? , onchange: "calculo_uf(this)"  %>
    <script > new ufApi()</script>
  </div>


  <div class="field">
    <%= form.label :pesos, "Pesos" %>
    <%= form.number_field :pesos, id: :pesos, disabled: @auction.pesos.nil?, onchange: "calculo_uf(this)" %>
  </div>

  <div class="field">
    <%= form.label :total_minimum, "total minimo" %>
    <%= form.label :total_minimum, @auction.total_minimum%>
  </div>

  <div class="field">
    <%= form.label :fee, "Derechos" %>
    <%= form.number_field :fee, id: :fee %>
  </div>



  <div class="field">
    <%= form.hidden_field :auctionnotice_id, value: @auction.auctionnotice_id %>
  </div>

  <div class="field">
    <%= form.label :realty_id, "Seleccionar Propiedad" %>
    <%= form.select :realty_id, options_for_select(Realty.all.collect {|p| [p.address, p.id]}, @auction.realty_id), { include_blank: "Seleccione"} %>
  </div>


 <%= form.submit "Guardar" %>
<% end %>
  <div>
    <h3>
 <%= link_to 'Nueva Propiedad', new_realty_path %>
   </div>

   <div class="accordion" id="accordionExample">
     <div class="card">
       <div class="card-header" id="headingOne">
         <h2 class="mb-0">
           <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Collapsible Group Item #1
           </button>
         </h2>
       </div>

       <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
         <div class="card-body">

           <%= render "realties/form" %>

         </div>
       </div>
     </div>
  </div>




<div>


<%= @auction.id %>
<%= @auction.auctionnotice.auction %>
</div>
