<%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %>

<h1>Propiedades con Aviso Remate</h1>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Nº</th>
      
      <th>Fecha</th>
      <th>Hora</th>
      <th>Propiedad</th>
      <th>Opciones</th>

    </tr>
  </thead>



  <tbody>

    <% @auctions.each_with_index do |auction, i| %>

      <tr>
        <td><%= i + 1 %></td>
        <td><%= auction.realty.address %></td>

        <td>
          <%= link_to 'Show', auction %>
          <%= link_to 'Edit', edit_auction_path(auction) %>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auction', new_auction_path %>
