<%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %>

<h1>Listado Aviso Remate</h1>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Nº</th>

      <th>Fecha</th>
      <th>Hora</th>
      <th>Tribunal</th>
      <th>Rol</th>
      <th>Propiedad</th>
      <th>Minimo</th>
      <th>Garantia</th>
      <th>Derechos</th>
      <th>Opciones</th>

    </tr>
  </thead>



  <tbody>

    <% @auctions.each_with_index do |auction, i| %>

      <tr>
        <td><%= i + 1 %></td>
        <td><%= auction.date %></td>
        <td><%= auction.hour %></td>
        <td><%= auction.court.name %></td>
        <td><%= auction.rol_trial %></td>
        <td><%= auction.realty.address %></td>
        <td><%= auction.total_minimum %></td>
        <td><%= auction.warranty %></td>
        <td><%= auction.fee %></td>

        <td>
          <%= link_to 'Show', auction %>
          <%= link_to 'Edit', edit_auction_path(auction) %>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
