<%= link_to 'Volver Listado Remate', auctions_path %>

<p></p>


<div>
  <h2>
    Remate nยบ  <%= @auction.id %> : <%= @auction.realty.address %>
    </h2>
</div>
<h4>Informacion del Remate</h4>


  <div>
    Fecha Remate:  <%= @auction.date %>, <%= @auction.hour %>
  </div>
   <div>
     Tribunal: <%= @auction.court.name %>
   </div>
  <div>
     Rol:     <%= @auction.rol_trial %>
   </div>

   <div class="accordion" id="accordionExample">
     <div class="card">
       <div class="card-header" id="headingOne">
         <h2 class="mb-0">
           <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Collapsible Group Item #1
           </button>
         </h2>
       </div>

       <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
         <div class="card-body">

           <%= render "realties/form" %>

         </div>
       </div>
     </div>
   </div>
