<%= link_to 'Volver Listado Remate', auctions_path %>

<p></p>


<div>
  <h2>
    Remate nยบ  <%= @auction.id %> : <%= @auction.realty.address %>
    </h2>
</div>
<h4>Informacion del Remate</h4>


  <div>
    Fecha Remate:  <%= @auction.date %>, <%= @auction.hour %>
  </div>
   <div>
     Tribunal: <%= @auction.court.name %>
   </div>
  <div>
     Rol:     <%= @auction.rol_trial %>
   </div>

   <div>
      Garantia:   <%= @auction.warranty %>
    </div>

    <div>
       Minimo:     <%= @auction.total_minimum %>
     </div>

<div>
  <p></p>
<p>Aviso</p>
<p></p>
<%= @auction.auctionnotice.auction %>



<div>

  
