<%= form_with model: Auctionnotice.new do |form| %>
  <%= form.label :name, "Ingreso de Avisos de Remate" %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :name %>
  </div>


 <%= form.submit "Guardar" %>

<% end %>
