<h1>Listado de Avisos</h1>


<ul class="list-group">
  <li class="list-group-item "><%= link_to 'Listado Avisos Pendientes', auctionnotices_pending_path %></li>
  <li class="list-group-item"><%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %></li>
  <li class="list-group-item"><%= link_to 'Listado Avisos Descartados', auctionnotices_rejected_path %></li>
  <li class="list-group-item"><%= link_to 'Ingresar Avisos x Doc', auctionlistings_path %></li>
  <li class="list-group-item"><%= link_to 'Ingresar Avisos x individual', new_auctionnotice_path %></li>
  <li class="list-group-item"><%= link_to 'Calendario de Remates ', auctions_path %></li>
  <li class="list-group-item"><%= link_to 'Ir a Propiedades', realties_path %></li>

</ul>



<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Auction</th>
      <th>Opciones</th>

    </tr>
  </thead>



  <tbody>

    <% @auctionnotices.each_with_index do |auctionnotice, i| %>

      <tr>
        <td><%= i + 1 %></td>
        <td><%= auctionnotice.auction %></td>

        <td>
          <%= link_to 'Ver', auctionnotice %>
          <%= link_to 'Editar', edit_auctionnotice_path(auctionnotice) %>
          <%= link_to 'Descartar', rejection_path(auctionnotice), method: :post %>
          <%= link_to 'Seleccionar', action_selection_path(auctionnotice), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'nuevo aviso', new_auctionnotice_path %>
