<h1>Auctionnotices#index</h1>
<p>Find me in app/views/auctionnotices/index.html.erb</p>

<%= link_to 'Listado Avisos Pendientes', auctionnotices_pending_path %>

<p></p>

<%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %>

<p></p>

<%= link_to 'Listado Avisos Descartados', auctionnotices_rejected_path %>

<p></p>

<%= link_to 'Ingresar Avisos x Doc', auctionlistings_path %>

<p></p>

<%= link_to 'Ir a Propiedades', realties_path %>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Auction</th>
      <th>Opciones</th>

    </tr>
  </thead>

  <tbody>
    <% @auctionnotices.each do |auctionnotice| %>

      <tr>

        <td><%= auctionnotice.auction %></td>

        <td>
          <%= link_to 'Show', auctionnotice %>
          <%= link_to 'Edit', edit_auctionnotice_path(auctionnotice) %>
          <%= link_to 'Destroy', auctionnotice, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'Seleccionar', action_selection_path(auctionnotice), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auctionnotice', new_auctionnotice_path %>
