<%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %>
<%= link_to 'Listado Avisos Descartados', auctionnotices_rejected_path %>
<%= link_to 'Ir a Listado Avisos', auctionnotices_path %>


<h1>  Ingresar Nuevo Aviso de Remate individual </h1>

<%= form_with model: Auctionnotice.new  do |form| %>
  <%= form.label :name, "Ingresar Aviso de Remate" %>

  <div class="field">
    <%= form.label :auction, "Aviso" %>
    <%= form.text_area( :auction , size: '80x40') %>
  </div>

 <%= form.submit "Guardar" %>
<% end %>
