<%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %>
<%= link_to 'Listado Avisos Descartados', auctionnotices_rejected_path %>

<h1>  Avisos de Remate Pendientes </h1>


<table id="myTable" class="table">
  <thead>
    <tr>
      <th></th>
      <th>Auction</th>
      <th>Opciones</th>
    </tr>
  </thead>


  <tbody>
    <% @auctionnotices.each_with_index do |auctionnotice, i| %>

      <tr>
        <td><%= i + 1 %></td>
        <td><%= auctionnotice.auction %></td>

        <td>

          <%= link_to 'Show', auctionnotice %>
          <%= link_to 'Edit', edit_auctionnotice_path(auctionnotice) %>
          <%= link_to 'Descartar', rejection_path(auctionnotice), method: :post %>
          <%= link_to 'Seleccionar', action_selection_path(auctionnotice), method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Listado Avisos Seleccionados', auctionnotices_selected_path %>
<%= link_to 'Listado Avisos Descartados', auctionnotices_rejected_path %>
