<h1>  Avisos Seleccionados </h1>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Auction</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @auctionnotices.each do |auctionnotice| %>

      <tr>
        <td><%= auctionnotice.auction %></td>

        <td>
          <%= link_to 'Show', auctionnotice %>
          <%= link_to 'Edit', edit_auctionnotice_path(auctionnotice) %>
          <%= link_to 'Destroy', auctionnotice, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Listado Avisos ', auctionnotices_path %>
