<h1>  Avisos Seleccionados </h1>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th></th>
      <th>Avisos Seleccionados</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @auctionnotices.each_with_index do |auctionnotice, i| %>

      <tr>
        <td><%= i + 1 %></td>
        <td><%= auctionnotice.auction %></td>

        <td>
          <%= link_to 'Show', auctionnotice %>
          <%= link_to 'Edit', edit_auctionnotice_path(auctionnotice) %>
          <%= link_to 'Descartar', rejection_path(auctionnotice), method: :post %>

           <%= link_to 'Asociar a Propiedad', auctionnotices_auctionnotice_associate_path(auctionnotice) %>
            </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Listado Avisos ', auctionnotices_path %>
