<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Seleccionar Provincia</th>

    </tr>
  </thead>

  <tbody>
    <% @provinces.each do |province| %>

      <tr>
        <td><%= province.name %></td>
        <td><%= province.region_id %></td>

        <td>
          <%= link_to 'Show', province %>
          <%= link_to 'Edit', edit_province_path(province) %>
          <%= link_to 'Destroy', province, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to 'Nueva Provincia', new_province_path %>
</div>

<p> </p>

<div>
  <%= link_to 'Ir a Region', regions_path %>
</div>
<p> </p>

<div>
  <%= link_to 'Ir a Comuna', communes_path %>
</div>
