<%= form_with model: @auctionlisting, local: true do |form| %>
  <%= form.label :name, "Ingreso de Listado de Remate en doc." %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :listingdoc, id: :name %>
  </div>

  <div class="field">
    <%= form.label :attached %>
    <%= form.file_field :listingdoc, id: :auctionlisting_listingdoc %>
  </div>


 <%= form.submit "subir" %>
 
<% end %>
