<%= form_with model: Auctionlisting.new do |form| %>
  <%= form.label :name, "Ingreso de Listado de Remate en doc." %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :name %>
  </div>

  <div class="field">
    <%= form.label :attached %>
    <%= form.file_field :attached, id: :auctionlisting_listingdoc %>
  </div>


 <%= form.submit "subir" %>

<% end %>
