<h1>Auctionlistings#index</h1>
<p>Find me in app/views/auctionlistings/index.html.erb</p>

<%= link_to 'Ir a Listado Avisos', auctionnotices_path %>

<table id="myTable" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Attached</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @auctionlistings.each do |auctionlisting| %>

      <tr>
        <td><%= auctionlisting.name %></td>
        <td><%= auctionlisting.attached %></td>
        <td>
          <%= link_to 'Show', auctionlisting %>
          <%= link_to 'Edit', edit_auctionlisting_path(auctionlisting) %>
          <%= link_to 'Destroy', auctionlisting, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Auctionlisting', new_auctionlisting_path %>
